.new-fab.mat-mini-fab {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.back-fab.mat-mini-fab {
  position: fixed;
  left: 5%;
  top: 75px;
}

h2,
h3 {
  text-align: center;
}

table {
  margin-left: 5%;
  width: 90%;
  margin-bottom: 30px;
}

.mat-column-edit {
  width: 30px;
}

.mat-column-delete {
  width: 30px;
}
