<mat-toolbar color="primary" class="toolbar mat-elevation-z4">
  <button
    *ngIf="isAuthenticated"
    (click)="sidenav.toggle()"
    matTooltip="Main menu"
    class="menu-btn"
    mat-icon-button
    type="button"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <div (click)="router.navigate(['/'])" class="brand">
    Track It
  </div>
  <span class="fill-remaining-space"></span>
  <mat-menu #appMenu="matMenu">
    <button (click)="onSigninOrSignout()" mat-menu-item>
      <ng-container *ngIf="isAuthenticated">Logout</ng-container>
      <ng-container *ngIf="!isAuthenticated">Login</ng-container>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-menu>
  <button
    [matMenuTriggerFor]="appMenu"
    class="menu-btn"
    [matTooltip]="(auth.user | async)?.email"
    color="default"
    mat-mini-fab
  >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list *ngIf="isAuthenticated">
      <mat-list-item routerLinkActive="active">
        <a matLine routerLink="/clients">Clients</a>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLinkActive="active">
        <a matLine routerLink="/groups">Groups</a>
        <button mat-icon-button>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-toolbar
      class="footer mat-elevation-z2"
      fxLayoutAlign="center center"
      fxLayoutGap="10"
    >
      <i
        >Mecaworks © 2019 -
        <a
          href="https://github.com/mecaworks/track-it/issues/new"
          target="_blank"
          matTooltip="Report a bug or request a new feature"
          >v0.0.1</a
        ></i
      >
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
