<ng-container *ngIf="client$ | async as client">
  <p mat-dialog-title>API key</p>
  <div mat-dialog-content>
    <p>
      API keys are used to authenticate Arduino devices when sending data to the
      server (Included in the 'Authorization' header).
    </p>
    <p>
      The key is displayed <b>only once</b> when generated and cannot be
      restored.
    </p>
    <p>The key should be <b>copied</b> and stored securly.</p>
    <p>
      Devices/Trucks using this key should belong to one of
      <b>{{ client.name }}</b>
      's groups.
    </p>
    <p>
      When revoking a key, devices that are using it will be
      <b>blocked immediatly</b>
      and no further data will be accepted by the server.
    </p>
    <mat-divider></mat-divider>
    <div *ngIf="client.apiKey; else addKey">
      <p>Prefix: {{ client.apiKey.prefix }}***-*******-*******</p>
      <p>Time: {{ client.apiKey.time.toDate() | date: 'medium' }}</p>
      <button
        mat-raised-button
        color="warn"
        (click)="revokeKey(client.apiKey.prefix)"
      >
        Revoke API key
      </button>
    </div>
    <ng-template #addKey>
      <button mat-raised-button (click)="generateKey()">
        Generate a new API key
      </button>
      <p *ngIf="apiKey">
        <code>
          <b> {{ apiKey }} </b>
        </code>
      </p>
      <button
        mat-raised-button
        *ngIf="apiKey"
        color="primary"
        (click)="saveKey()"
      >
        Save
      </button>
    </ng-template>
  </div>
</ng-container>
