<h1>Groups' list</h1>
<table mat-table [dataSource]="groups$ | async" class="mat-elevation-z1">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="clientId">
    <th mat-header-cell *matHeaderCellDef>clientId</th>
    <td mat-cell *matCellDef="let element">{{ element.clientId }}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        type="button"
        color="primary"
        (click)="openEditGroupDialog(element)"
        matTooltip="Edit"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        type="button"
        color="warn"
        (click)="deleteGroup(element.id)"
        matTooltip="Delete"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>