@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~firebaseui/dist/firebaseui.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
